@import '../../common/stylus/mixin.styl'
.tab
	display: flex
	height: 0.8rem
	border-1px(#d6d6d6)
	.item
		flex: 1
		padding: 0.1rem 0
		line-height: 0.6rem
		font-size: 0.24rem
		color: #646464
		.text
			text-align: center
		.area
			border-right: 1px solid #e6e6e6
		