.activity-index-page
	width 100%
	background-color #F3F4F5
	.wrapper
		> .content
			height auto
			.banner 
				width 100%
				height 100%
				img
					width: 100%
					height 100%
			.activity-type-row
				width 100%	

				
			
				
				
			