.periodical-ording
	width 100%
	.ball-container
		.ball
			position fixed
			left 32px
			bottom 22px
			z-index 8
			transition: all 0.4s cubic-bezier(0.9, -0.15, 0.8, 0.3)
			.inner
				width 16px
				height 16px
				border-radius 50%
				background #f8bd48
				transition all 0.4s ease-in