@import '../../common/stylus/mixin.styl'
.periodical-ording
	width 100%
	.tab
		display: flex
		width: 100%
		text-align: center
		> div
			flex: 1
			line-height: 0.88rem
			font-size: 0.28rem
			color: #323232
			border-bottom: 1px solid #d6d6d6
		.active
			border-bottom: 0.04rem solid #F8BD48
			color: #FFBE4D