.book-detail-page
	width 100%
	padding-top 0.91rem
	.detail-footer
		position fixed
		bottom 0
		left 0
		width 100%
		display flex
		height 0.98rem
		line-height 0.98rem
		box-shadow 0 -0.04rem 0.1rem 0 rgba(0, 0, 0, 0.1)
		> div
			flex 1
			font-size 0.34rem
			color #fff
			text-align center
		.icons
			display flex
			background #fff
			line-height 0			
			> div
				width 50%
				// flex 1
				text-align center
			.collect
				margin-left 12.5%
				.collectImg
					display inline-block
					width 0.4rem
					height 0.4rem
					// margin-left 25%
					margin-top 0.14rem
					background-image url('./collect_icon.png')
					background-size 0.4rem 0.4rem
					&.active
						background-image url('./collect_icon_active.png')
				.text
					font-size 0.2rem
					line-height 0.2rem
					margin-top 0.1rem
					color #c7c7cc
					// margin-left 25%
			.shopcat
				margin-right 12.5%
				position relative
				> .dot
					position absolute
					display inline-block
					top 0.04rem
					left 50%
					z-index 3
					border-radius 0.15rem
					width auto
					min-width 0.3rem
					text-align center
					padding 0.04rem 0.06rem
					font-size 0.2rem
					line-height 0.2rem
					color #fff
					background-color #ff3a3f
				> img
					display inline-block
					width 0.4rem
					height 0.4rem
					// margin-right 25%
					margin-top 0.14rem
				.text
					font-size 0.2rem
					line-height 0.2rem
					margin-top 0.1rem
					color #c7c7cc
					// margin-right 25%
		.add-shopcat
			background #f8bd48
		.go-buy
			background linear-gradient(to left, #fe7a56, #ff5050)