/*global*/
*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
div{
	/*overflow: hidden;*/
	display: block;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,main{
	display: block;
}
ul{
	margin-bottom: 0;
}
.container,
.container-fluid,
.btn-group{
	overflow: visible;
}
.row,.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	overflow: visible;
}
.unselectable{
	-webkit-user-select:none;
	-moz-user-select:none;
}
.text-limit{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.break-word{
	word-break: break-word;
}
.link-obj{
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
/*form wxw*/
.form-wxw input[placeholder]::-webkit-input-placeholder{
	color: #D8D8D8;
}
.form-wxw input[placeholder]:-moz-placeholder{
	color: #D8D8D8;
}
.form-wxw input[placeholder]::-moz-placeholder{
	color: #D8D8D8;
}
.form-wxw input[placeholder]:-ms-input-placeholder{
	color: #D8D8D8;
}
.form-wxw .hr-wxw {
	height: 8px;
}
.form-wxw .form-group {
	position: relative;
	margin-bottom: 0;
	padding: 0 20px;
}
.form-wxw .form-control {
	padding: 6px 10px;
	height: 50px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: #E6E6E6 solid 1px;
	color: #232326;
}
.form-wxw .form-group+.form-group .form-control {
	border-top: none;
}
.form-wxw .tag-input {
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	background: center no-repeat;
	background-size: 18px;
}
.form-wxw .tag-mobile {
	background-image: url('../images/tag-mobile.png');
}
.form-wxw .tag-pwd {
	background-image: url('../images/tag-pwd.png');
}
.form-wxw .tag-captcha {
	background-image: url('../images/tag-captcha.png');
}
.form-wxw .tag-input+.form-control{
	padding-left: 30px;
}
.form-wxw .actions-group {
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	line-height: 48px;
}
.form-wxw .actions-group .btn-action {
	float: left;
	width: 40px;
	height: 50px;
	background: no-repeat center;
	background-size: 20px;
}
.form-wxw .actions-group .btn-action:last-child {
	margin-right: -10px;
}
.form-wxw .actions-group .btn-clear{
	background-image: url('../images/icon-clear.png');
}
.form-wxw .actions-group .btn-visible{
	background-image: url('../images/icon-visible.png');
}
.form-wxw .actions-group .btn-visible.active{
	background-image: url('../images/icon-visible-active.png');
}
/*box msg*/
.box-msg {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -120px;
	width: 240px;
	height: 120px;
	background-color: rgba(0,0,0,.85);
	color: #FFF;
	line-height: 120px;
	text-align: center;
	border-radius: 15px;
	font-size: 16px;
}
.box-msg .btn-close {
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background: url('../images/icon-close.png') no-repeat center;
	background-size: 12px;
}