.book-detail-header
	position fixed
	width 100%
	left 0
	top 0
	display flex
	line-height 0.58rem
	padding-top 0.15rem
	padding-bottom 0.15rem
	padding-right 0.3rem
	padding-left 0.26rem
	z-index 5
	border-bottom 0.01rem solid #d6d6d6
	background #fff
	.title
		line-height inherit
		padding 0 0.2rem
		flex 1
		font-size 0.34rem
		color #523f1a
		text-align center
		.top-tab
			width 3.2rem
			margin 0 auto
			display flex
			.tab-item
				flex 1
				font-size 0.26rem
				color #999
				&.active
					font-size 0.3rem
					color #f8bd48
	.back-icon
		font-size 0
		margin-right 0.36rem
		line-height inherit
		> img
			width 0.6rem
			height 0.6rem
			vertical-align middle
	.share, .more
		line-height inherit
		margin-left 0.4rem
		> img
			width 0.4rem
			height 0.4rem
			display inline-block
			vertical-align middle
	.share
		position absolute
		right 1.1rem
		top 0.15rem